SQLSERVER_HOST=
SQLSERVER_PORT=
SQLSERVER_USERNAME=
SQLSERVER_PASSWORD=
SQLSERVER_DRIVER=
SQLSERVER_DATABASE=

SPARK_MASTER=
SPARK_APP_NAME=
SPARK_EXECUTOR_MEMORY=
SPARK_EXECUTOR_CORES=
SPARK_DRIVER_MEMORY=
SPARK_DRIVER_CORES=
SPARK_LOCAL_DIR=
SPARK_JARS_PACKAGES=
SPARK_JARS_IVY=
SPARK_VERSION=
SPARK_MINOR_VERSION=
SPARK_LOCAL_JARS=

SPARK_ICEBERG_CATALOG_URI=
SPARK_ICEBERG_CATALOG_TYPE=
SPARK_ICEBERG_OAUTH2_SERVER_URI=
SPARK_ICEBERG_CREDENTIAL=
SPARK_ICEBERG_SCOPE=
SPARK_ICEBERG_WAREHOUSE=
SPARK_ICEBERG_VERSION=